.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 10px 20px;

  font-family: $ff-roboto;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;

  border: 4px solid $color-transparent;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  // &--solid-1 {
  //   background-color: $color-deep-sky-blue;
  //   border-color: $color-deep-sky-blue;
  //   outline-color: $color-default-white;
  // }

  &--transparent-1 {
    background-color: $color-transparent;
    border-color: $color-default-white;
    outline-color: $color-default-white;
  }

  &--transparent-2 {
    color: $color-sapphire;
    background-color: $color-transparent;
    border-color: $color-resolution-blue;
    // outline-color: $color-resolution-blue;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: $hover-opacity;
    }
  }
}
