.page-title {
  min-height: 658px;
  color: $color-default-white;
  background-color: $color-pompadour;
  background-image: $conic-blue-red-desktop;

  @include vp-1199 {
    min-height: 554px;
    background-image: $conic-blue-red-tablet;
  }

  @include vp-767 {
    min-height: 491px;
    background-image: $conic-blue-red-mobile;
  }
}

.page-title__inner {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  padding-top: 31px;
  padding-bottom: 50px;

  @include vp-1365 {
    padding-left: calc((100vw - 1200px) / (1365 - 1200) * (103 - 45) + 45px);
    padding-right: calc((100vw - 1200px) / (1365 - 1200) * (103 - 45) + 45px);
  }

  @include vp-1199 {
    padding-top: 40px;
    padding-bottom: 59px;
  }

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.page-title__header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  padding-left: 30%;

  @include vp-767 {
    padding-left: 20%;
  }
}

.page-title__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.page-title__logo svg {
  @include vp-1199 {
    width: 82px;
  }

  @include vp-767 {
    width: 68px;
  }
}

.page-title__phone {
  display: block;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: $ff-bebas;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 24px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-size: 20px;
  }
}

.page-title__phone:last-of-type:not(:first-of-type) {
  margin-bottom: 35px;

  @include vp-1199 {
    margin-bottom: 20px;
  }
}

.page-title__text {
  width: 34.1%;
  margin-right: 5.5%;
  text-align: right;

  @include vp-1199 {
    width: 48.8%;
    margin-right: 3.3%;
    padding-right: 7px;
  }

  @include vp-767 {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }
}

.page-title__text p {
  margin: 0;

  font-family: $ff-bebas;
  font-weight: 400;
  font-size: 49px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: right;
  overflow-wrap: break-word;

  @include vp-1199 {
    font-size: 34px;
  }

  @include vp-767 {
    max-width: 290px;
    font-size: 28px;
  }
}

.page-title__text p:first-of-type {
  margin-top: 102px;

  @include vp-1199 {
    margin-top: 61px;
  }

  @include vp-767 {
    margin-top: 64px;
  }
}

.page-title__helper {
  display: grid;
  grid-template-columns: 132px 1fr;
  grid-template-rows: 130px min-content 1fr;
  grid-auto-rows: min-content;

  @include vp-1199 {
    grid-template-columns: 1fr 209px;
    grid-template-rows: 93px min-content 1fr;
  }

  @include vp-767 {
    grid-template-columns: 113px 177px 1fr;
    grid-template-rows: 86px min-content 1fr;
  }
}

.page-title__caption {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;

  @include vp-767 {
    justify-self: end;
  }
}

.page-title__text h2 {
  margin: 0;

  font-family: $ff-bebas;
  font-weight: 700;
  font-size: 111px;
  line-height: 0.97;
  letter-spacing: 0.02em;
  -webkit-text-stroke: 4px $color-default-white;
  text-transform: uppercase;
  text-align: right;
  overflow-wrap: break-word;

  @include vp-1199 {
    font-size: 86px;
    letter-spacing: 0.03em;
  }

  @include vp-767 {
    font-size: 78px;
  }

  & > :not(:first-child) {
    max-width: 70%;
  }
}

.page-title__text h2:first-of-type {
  margin-top: 9px;

  @include vp-1199 {
    margin-top: 6px;
  }

  @include vp-767 {
    margin-top: 11px;
  }
}

.page-title__text ul {
  grid-column: 1;
  grid-row: 2 / -1;

  display: flex;
  flex-direction: column;
  max-width: 133px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;

  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  overflow-wrap: break-word;

  @include vp-1199 {
    max-width: 113px;
  }
}

.page-title__text .btn {
  grid-column: 1 / span 2;
  justify-self: end;
  align-self: start;

  min-width: 233px;
  min-height: 61px;
  padding: 15px 20px 12px;

  font-size: 12px;
  line-height: 14px;

  @include vp-1199 {
    min-width: 185px;
  }

  @include vp-767 {
    grid-column: 1 / span 3;
    min-width: 100%;
    min-height: 62px;
  }
}

.page-title__text .btn:first-of-type {
  grid-row: 3;
  margin-top: 51px;

  @include vp-1199 {
    margin-top: 40px;
  }
}

.page-title__image {
  width: 500px;
  margin: 0;
  margin-top: -16px;
  object-fit: cover;

  @include vp-1199 {
    width: 324px;
    margin-top: 8px;
  }

  @include vp-767 {
    display: none;
  }
}

.page-title__socials {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: auto;
  margin-bottom: 32px;
  padding: 0;
  list-style-type: none;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  @include vp-1199 {
    display: none;
  }
}

.page-title__socials a {
  display: block;
  margin-top: 10px;
  margin-bottom: 9px;
  text-align: right;
}
