.promo {
  position: relative;
  margin-top: -30px;
  margin-bottom: 80px;
  background-color: $color-default-white;
  z-index: 3;

  @include vp-1199 {
    margin-top: 46px;
    // margin-bottom: 80px;
  }

  @include vp-767 {
    margin-top: 70px;
    // margin-bottom: 80px;
  }
}

.promo__inner {
  display: flex;
  max-width: 1160px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;

  @include vp-1199 {
    max-width: 678px;
    min-height: 292px;
  }

  @include vp-767 {
    flex-direction: column;
    max-width: 290px;
    min-height: 584px;
  }
}

.promo__picture {
  width: 660px;
  background-color: $color-sapphire;
  background-image: url("../img/competitions-desktop.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  @include retina {
    @media (min-width: $vp-desktop-only) {
      background-image: url("../img/competitions-desktop@2x.jpg");
    }
  }

  @include vp-1199 {
    width: 386px;
    background-image: url("../img/competitions-tablet.jpg");

    @include retina {
      background-image: url("../img/competitions-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    width: 290px;
    height: 292px;
    background-image: url("../img/competitions-mobile.jpg");

    @include retina {
      background-image: url("../img/competitions-mobile@2x.jpg");
    }
  }
}

.promo__text {
  display: grid;
  align-content: start;
  max-width: 500px;
  width: 100%;
  padding: 81px 78px 80px;

  color: $color-default-white;
  background-color: $color-torch-red;

  @include vp-1199 {
    max-width: 292px;
    padding: 47px 45px 40px;
  }

  @include vp-767 {
    max-width: 290px;
    min-height: 292px;
    padding: 47px 45px 40px;
  }
}

.promo h3 {
  grid-column: 1;
  grid-row: 1;
  margin: 7px 0 4px;

  font-family: $ff-bebas;
  font-weight: 700;
  font-size: 90px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include vp-1199 {
    margin: 5px 0 0;
    font-size: 52px;
  }
}

.promo p {
  grid-column: 1 / span 2;
  grid-row: 2;

  margin: 0;

  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  @include vp-1199 {
    font-size: 12px;
    line-height: 120%;
  }
}

.promo dl {
  grid-column: 2;
  grid-row: 1;

  display: flex;
  flex-direction: column;
  margin: 0;
}

.promo__date dt,
.promo__time dt {
  padding-bottom: 4px;

  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  border-bottom: 1px solid $color-default-white;

  @include vp-1199 {
    padding-bottom: 1px;
    font-size: 12px;
  }
}

.promo__date {
  max-width: 64px;
  margin-bottom: 15px;

  @include vp-1199 {
    max-width: 41px;
    margin-bottom: 0;
  }
}

.promo__time {
  max-width: 92px;
}

.promo__date dd,
.promo__time dd {
  display: flex;
  margin: 0;

  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;

  @include vp-1199 {
    font-size: 24px;
    line-height: 135%;
  }
}

.promo__date span {
  margin-left: 5px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 117%;

  @include vp-1199 {
    margin-left: 3px;
    margin-top: 3px;
    font-size: 10px;
  }
}

.promo a {
  grid-column: 1 / span 2;
  grid-row: 3;
  min-height: 70px;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 14px;

  @include vp-1199 {
    min-height: 41px;
    margin-top: 31px;
    font-size: 10px;
    line-height: 12px;
    border-width: 2px;
  }
}
